h1 {
  font-size: 30px;
  padding-top: 15px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
footer {
  text-align: center;
  font-size: 11px;
  border: 20px;
  padding-bottom: 10px;
}
.container {
  padding: 20px;
  font-size: medium;
}
.card {
  word-wrap: normal;
  padding: 15px;
  border-radius: 8px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.high {
  font-weight: bolder;
}
.emoji {
  font-size: 50px;
  padding: 5px;
}
.conditions {
  font-size: medium;
}
.weekdays {
  text-align: center;
}
.city {
  font-size: x-large;
}
.forecast {
  font-size: 52px;
  font-weight: oblique;
  padding-right: 8px;
}
.time-zone {
  font-weight: lighter;
  font-style: oblique;
}
