small {
  font-size: 10px;
}
h1 {
  font-size: 30px;
  padding-top: 15px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
footer {
  text-align: center;
  border: 20px;
  padding-bottom: 10px;
}
.container {
  padding: 20px;
  font-size: medium;
}
.card {
  word-wrap: normal;
  padding: 15px;
  border-radius: 8px;
}

.weather-temperature a .active {
  color: black;
  cursor: default;
}

.weather-temperature a .active :hover {
  text-decoration: none;
}

.high {
  font-weight: bolder;
}
.emoji {
  font-size: 50px;
  padding: 5px;
}
.conditions {
  font-size: 14px;
}
.weekdays {
  text-align: center;
}
.city {
  font-size: x-large;
}
.forecast {
  font-size: 40px;
}
.time-zone {
  font-weight: lighter;
  font-style: oblique;
}
